ul{
  padding-left:10px;
}

.header {
  background: linear-gradient(to right, rgb(115, 115, 250), rgb(1, 0, 73));
  height: 50px;
  font-size: 35px;
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 15px;
}

.secondHeader {
  color: black;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  padding-left: 10px;
  font-family: sans-serif;
}

#search {
  height:40px;
  position: absolute;
  width: 300px;
  font-size:12pt;
  color: black;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  padding-left: 10px;
  font-family: sans-serif;
  border-radius: 0.5rem;
}

#pressSearch {
  background-color: rgb(115, 115, 250);
  color: white;
  width:315px;
  height: 40px;
  font-size: 20px;
  margin-top: 60px;
  margin-left: 10px;
  font-family: sans-serif;
  border-radius: 0.5rem;
}

.line {
  display: flex;
  border:1px solid black;
  width: 315px;
  margin-left: 10px;
  margin-top: 30px;
  position: absolute;
}

.cityList{
  color: rgb(0, 0, 0);
  list-style-type: none;
  display: flex;
  justify-content: center;
  width:315px;
  height: 40px;
  font-size: 20px;
  margin-top: 30px;
  padding-top: 10px;
  font-family: sans-serif;
  border-radius: 0.5rem;
  background-color: rgb(199, 199, 199);
}

.first {
  float:left;
  position: absolute;
}

.second {
  display: flex;
  float: right;
  border: 1px solid black;
  font-size: 20px;
  height: 300px;
  width: 1145px;
  padding-left: 30px;
  margin-left: 360px;
  position: absolute;
  top: 10px;
}

.third {
  position: absolute;
}

.forecastTitle{
    display: flex;
    float: right;
    font-size: 32px;
    height: 300px;
    width: 1145px;
    padding-left: 30px;
    margin-left: 360px;
    position: absolute;
    top: 315px;
}

.temp{
  list-style-type: none;
  align-items: flex-start;
  padding-top: 65px;
}

.tempLi {
  margin-top: 20px;
}

.cityWeather{
  display: flex;
  position: absolute;
}

.card{
  display: flex;
  float: right;
  font-size: 32px;
  width: 1145px;
  padding-left: 30px;
  margin-left: 360px;
  position: absolute;
  top: 370px;
}